<IfModule mod_rewrite.c>
   RedirectMatch 403 /fpb-includes(/|$)

   RewriteEngine on
   RewriteBase /
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule . /index.php [L]
</IfModule>